.moves {
  align-items: center;
  text-align: center;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 80%;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
}

.moves li {
  padding: 0.5rem;
}

.moves-active,
.moves li:hover {
  background-color: #FF6F61;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

.moves li:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}
