.search-text {
  color: #2E2E2E;
  text-align: center;
}

.search-buffer {
  padding-top: 25px;
  margin: auto;
}

.search-icon {
  color: #FF6F61;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
