.navbar-custom {
  background-color: #FF6F61;
  /* background-color: #FAFAFA; */
  -webkit-box-shadow: 3px 3px 3px #DCDCDC;
    -moz-box-shadow:    3px 3px 3px #DCDCDC;
    box-shadow:         3px 3px 3px #DCDCDC;
    z-index:999;
}

.navbar-toggler:hover {
  border: none!important;
}

.navbar-toggler:focus {
  border: none!important;
}

.navbar-toggler:active {
  border: none!important;
}

.tech-link {
  text-decoration: none!important;
  color: #212529!important;
  transition: font-weight 0.5s, border-bottom 0.5s;
}

.tech-link:hover {
  font-weight: bold;
  border-bottom: 1px solid #212529;
}

.tech-badge {
  transition: box-shadow 0.5s;
}

.tech-badge:hover {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.tech-badge:active {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
}

.toggler-adj {
  border: none;
}

.navbar-brand-custom {
  color: #fff!important;
}

.brand-text-buffer {
  margin-left: 5px;
}

.menu-buffer {
  margin-left: auto;
}

.navbar-toggle {
  border: none;
  color: #000;
  background-color: #000;
  background: #000;
  /* background: transparent !important; */
}

.icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.middle-bar {
  opacity: 0;
}

.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle:hover {
  background: transparent!important;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
