.search-text {
  color: #2E2E2E;
  text-align: center;
}

.search-buffer {
  padding-top: 25px;
  margin: auto;
}

.search-icon {
  color: #FF6F61;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.suggestions {
  align-items: center;
  text-align: center;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 80%;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #FF6F61;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}
